table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

table,th,td{
    border:1px solid #ccc;
}

th{
    background:#1e3a5f;
    color:white;
}

th,td{
    padding:10px;
    text-align:center;
}