{% extends "base.html" %}

{% block content %}

<section class="hero">

    <div class="hero-text">

        <h1>Placement Prediction System</h1>

        <h3>Empowering Students with Machine Learning</h3>

        <p>
            Welcome to the Placement Prediction System.
            This project predicts whether a student will be placed
            based on academic and skill-related features.
        </p>

        <div class="info-boxes">

            <div class="box">
                <h2>🎓</h2>
                <h4>Academic Analysis</h4>
                <p>Analyze academic performance.</p>
            </div>

            <div class="box">
                <h2>🤖</h2>
                <h4>ML Prediction</h4>
                <p>Predict placement using Machine Learning.</p>
            </div>

            <div class="box">
                <h2>📊</h2>
                <h4>Results</h4>
                <p>Fast and accurate predictions.</p>
            </div>

        </div>

    </div>

</section>

{% endblock %}